extends ./layout/index

block slider 
    .slider
        h1 Rio de Janeiro
        em Aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tellus justo, tristique at iaculis semper, hendrerit vel quam. Morbi sit amet nulla viverra, lacinia lorem ac, malesuada felis. Praesent at velit ante. Morbi pharetra porttitor feugiat. Vestibulum sit amet ligula venenatis, cursus diam a, hendrerit felis
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tellus justo, tristique at iaculis semper, hendrerit vel quam. Morbi sit amet nulla viverra, lacinia lorem ac, malesuada felis. Praesent at velit ante. Morbi pharetra porttitor feugiat. Vestibulum sit amet ligula venenatis, cursus diam a, hendrerit felis
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento 
        .container 
            .col-md-6 
                .contenido 
                    h3 5% OFF 
                    p.titulo Viaje a Canada 
                    p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                    p.precio 2500 USD
                
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales